.navbar {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
}

.navbar a {
    font-family: "Exo", sans-serif;
    color: aliceblue;
}

.banner {
    display: flex;
    height: 25px;
}

.banner img {
    flex: 1;
    object-fit: cover;
}

body {
    font-family: "Exo", sans-serif;
}

.headshot {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    width: 200px;
    /* Adjust the width as needed */
    height: 200px;
    /* Adjust the height as needed */
    border-radius: 50%;
}

.about {
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.week1 {
    display: flex;
}

.text {
    flex-grow: 1;
}

.gif1 {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: 25px;
    order: 2;
    align-self: center;
    position: sticky;
    top: 0; /* Adjust based on your layout */
}

.gif2 {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: 10px;
    order: 2;
    align-self: center;
}

@media screen and (max-width: 600px) {
    .gif1,
    .gif2 {
        max-height: 100px !important;
        margin: 10px !important; /* Adjust margin for smaller screens if needed */
    }
}


h2, h3 {
    /* Adjust the width as needed */
    padding: 0%;
    /* Reset padding to prevent extra space */
}

h2 {
    font-size: 30px;
    color: #3498db;
    text-shadow: 1px 2px 2px rgb(87, 87, 87);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h3 {
    font-size: 20px;
    color: #db34d5;
    text-shadow: 1px 2px 2px rgb(172, 172, 172);
}

/* ... (other styles) ... */



footer {
    background-color: #000000;
    padding: 1px;
    font-family: "Exo", sans-serif;
    color: aliceblue;
    font-size: 9px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.footerBanner {
    display: flex;
    height: 25px;
}

.footerBanner img {
    flex: 1;
    object-fit: cover;
}